@page
@model HttpService.Pages.anticheatVersionModel
@{
    ViewData["Title"] = "anticheatVersion";
}

<div class="text-center">
    <center>
    <p>MLS AntiCheat Reconfig</p>
    <h1>MLS AntiCheat Version</h1>

    <br>Version:<pre>
    </pre>
    </center>
</div>
