@page
@model HttpService.Pages.ConfigModel
@{
    ViewData["Title"] = "Config";
}

<div class="text-center">
    <center>
    <p>MLS Show Config Settings</p>
    <h1>Show Config</h1>

    <br>
    <p>Please select one of the following:</p>
    <ul>
        <li><a href="/showstats?stat=conn">Show Connection Statistics</a></li>
    </ul>

    <p>MLS SCE-RT Web Interface
        <br>TimeStamp: 
        <br>Version: 

    </p>
    </center>
</div>
