@page
@model HttpService.Pages.showStatsModel
@{
}

<p>MLS Connect Stats</p>

<h1>Connects:%d Disconnects:%d CurrentlyConnected:%d</h1>

<p>MLS Callback Stats</p>

<center>
	<table border=1>
		</table>
</center>
<tr>
	   <td>CB Type(%d) %s</td>
	    <td>%d</td>
		</tr>

	<tr>
		<td>Config Variable</td>
		<td>Value</td>
	</tr>
